[submodule "cart-microservice"]
	path = cart-microservice
	url = https://github.com/DFaccio/cart-service.git
[submodule "ecommerce-gateway"]
	path = ecommerce-gateway
	url = https://github.com/DFaccio/ecommerce-gateway.git
[submodule "ecommerce-registry"]
	path = ecommerce-registry
	url = https://github.com/DFaccio/ecommerce-registry.git
[submodule "payment-microservice"]
	path = payment-microservice
	url = https://github.com/erickmatheusribeiro/Payment-Microservice.git
[submodule "ecommerce-user"]
	path = ecommerce-user
	url = https://github.com/AydanAmorim/ecommerce-user.git
[submodule "inventory"]
	path = inventory
	url = https://github.com/fysabelah/inventory.git
